/*
Count of distinct viewers per day, day_span, rollup_franchise, content
grouping.
*/
SELECT
    day,
    day_span,
    rollup_franchise,
    content,
    COUNT(DISTINCT adobe_tracking_id) AS content_count
FROM
    `{{ algo_project }}.{{ dataset }}.lift_base`,
    UNNEST(SPLIT(content_subset, '~~~')) AS content
WHERE day = '{{ run_day }}'
GROUP BY 1, 2, 3, 4
