ASSERT (
	SELECT
		COUNT(DISTINCT partition_id)
	FROM
		`{{ project }}.{{ dataset }}.INFORMATION_SCHEMA.PARTITIONS`
	WHERE
		table_name = '{{ table }}'
		AND partition_id != '__NULL__'
		AND total_rows > 0
		AND PARSE_DATE('%Y%m%d', partition_id) = '{{ run_day }}'
) = 1
