SELECT
	adobe_date                                                                                                                     	AS day,
	adobe_tracking_id                                                                                                              	AS adobe_tracking_id,
	COUNT(DISTINCT session_id)                                                                                                     	AS num_daily_sessions,
	SUM(IF(LOWER(consumption_type) = "shortform", num_seconds_played_no_ads, NULL)) 											   	AS num_consumption_type_shortform_seconds,
	SUM(IF(LOWER(consumption_type) = "virtual channel", num_seconds_played_no_ads, NULL)) 										   	AS num_consumption_type_vc_seconds,
	SUM(IF(LOWER(consumption_type) = "vod", num_seconds_played_no_ads, NULL)) 											           	AS num_consumption_type_vod_seconds,
	SUM(IF(LOWER(consumption_type) = "live", num_seconds_played_no_ads, NULL)) 											           	AS num_consumption_type_live_seconds,
	SUM(IF(LOWER(consumption_type) = "other", num_seconds_played_no_ads, NULL)) 											       	AS num_consumption_type_other_seconds,
	SUM(IF(LOWER(vdo_exprnce) = "channels", num_seconds_played_no_ads, NULL)) 											           	AS num_vdo_exp_channels_seconds,
	SUM(IF(LOWER(vdo_exprnce) = "spotlight-rail", num_seconds_played_no_ads, NULL)) 											   	AS num_vdo_exp_spotlight_seconds,
	SUM(IF(LOWER(vdo_exprnce) = "hero-rail", num_seconds_played_no_ads, NULL)) 											           	AS num_vdo_exp_hero_seconds,
	SUM(IF(LOWER(vdo_exprnce) = "pdp-trailer", num_seconds_played_no_ads, NULL)) 											       	AS num_vdo_exp_pdp_seconds,
	SUM(IF(LOWER(vdo_initiate) = "manual", num_seconds_played_no_ads, NULL)) 											           	AS num_vdo_init_manual_seconds,
	SUM(IF(LOWER(vdo_initiate) = "continuous", num_seconds_played_no_ads, NULL)) 											       	AS num_vdo_init_continuous_seconds,
	SUM(IF(LOWER(vdo_initiate) = "auto-play", num_seconds_played_no_ads, NULL)) 											       	AS num_vdo_init_autoplay_seconds,
	SUM(IF(LOWER(device_name) IN ('ios mobile', 'android mobile', 'www', 'web', 'webos'), num_seconds_played_no_ads, NULL))        	AS small_screen_seconds,
	SUM(IF(LOWER(device_name) NOT IN ('ios mobile', 'android mobile', 'www', 'web', 'webos'), num_seconds_played_no_ads, NULL))    	AS large_screen_seconds,
	SUM(IF(LOWER(platform) = 'android',num_seconds_played_no_ads, NULL))                                                           	AS android_device_seconds_played,
	SUM(IF(LOWER(platform) = 'androidtv',num_seconds_played_no_ads, NULL))                                                         	AS androidtv_device_seconds_played,
	SUM(IF(LOWER(platform) = 'chromecast',num_seconds_played_no_ads, NULL))                                                        	AS chromecast_device_seconds_played,
	SUM(IF(LOWER(platform) = 'cox',num_seconds_played_no_ads, NULL))                                                               	AS cox_device_seconds_played,
	SUM(IF(LOWER(platform) = 'firetv',num_seconds_played_no_ads, NULL))                                                            	AS firetv_device_seconds_played,
	SUM(IF(LOWER(platform) = 'ios',num_seconds_played_no_ads, NULL))                                                               	AS ios_device_seconds_played,
	SUM(IF(LOWER(platform) = 'lg',num_seconds_played_no_ads, NULL))                                                                	AS lg_device_seconds_played,
	SUM(IF(LOWER(platform) = 'playstation',num_seconds_played_no_ads, NULL))                                                       	AS playstation_device_seconds_played,
	SUM(IF(LOWER(platform) = 'roku',num_seconds_played_no_ads, NULL))                                                              	AS roku_device_seconds_played,
	SUM(IF(LOWER(platform) = 'samsung',num_seconds_played_no_ads, NULL))                                                           	AS samsung_device_seconds_played,
	SUM(IF(LOWER(platform) = 'tvos',num_seconds_played_no_ads, NULL))                                                              	AS tvos_device_seconds_played,
	SUM(IF(LOWER(platform) = 'vidaa',num_seconds_played_no_ads, NULL))                                                             	AS vidaa_device_seconds_played,
	SUM(IF(LOWER(platform) = 'vizio',num_seconds_played_no_ads, NULL))                                                             	AS vizio_device_seconds_played,
	SUM(IF(LOWER(platform) = 'web',num_seconds_played_no_ads, NULL))                                                               	AS web_device_seconds_played,
	SUM(IF(LOWER(platform) = 'xbox',num_seconds_played_no_ads, NULL))                                                              	AS xbox_device_seconds_played,
	SUM(IF(LOWER(platform) = 'xclass',num_seconds_played_no_ads, NULL))                                                            	AS xclass_device_seconds_played,
	SUM(IF(LOWER(platform) = 'xfinity-x1',num_seconds_played_no_ads, NULL))                                                        	AS xfinity_x1_device_seconds_played,
	SUM(IF(lower(genre) like '%action & adventure%',num_seconds_played_no_ads, NULL))                                              	AS action_adventure_genre_seconds_played,
	SUM(IF(lower(genre) like '%comedy%',num_seconds_played_no_ads, NULL))                                                          	AS comedy_genre_seconds_played,
	SUM(IF(lower(genre) like '%crime%',num_seconds_played_no_ads, NULL))                                                           	AS crime_genre_seconds_played,
	SUM(IF(lower(genre) like '%documentary%',num_seconds_played_no_ads, NULL))                                                     	AS documentary_genre_seconds_played,
	SUM(IF(lower(genre) like '%drama%',num_seconds_played_no_ads, NULL))                                                           	AS drama_genre_seconds_played,
	SUM(IF(lower(genre) like '%horror%',num_seconds_played_no_ads, NULL))                                                          	AS horror_genre_seconds_played,
	SUM(IF(lower(genre) like '%kids%',num_seconds_played_no_ads, NULL))                                                            	AS kids_genre_seconds_played,
	SUM(IF(lower(genre) like '%mystery & suspense%',num_seconds_played_no_ads, NULL))                                              	AS mystery_suspense_genre_seconds_played,
	SUM(IF(lower(genre) like '%n/a%',num_seconds_played_no_ads, NULL))                                                             	AS na_genre_seconds_played,
	SUM(IF(lower(genre) like '%news%',num_seconds_played_no_ads, NULL))                                                            	AS news_genre_seconds_played,
	SUM(IF(lower(genre) like '%reality%',num_seconds_played_no_ads, NULL))                                                         	AS reality_genre_seconds_played,
	SUM(IF(lower(genre) like '%sci-fi & fantasy%',num_seconds_played_no_ads, NULL))                                                	AS sci_fi_fantasy_genre_seconds_played,
	SUM(IF(lower(genre) like '%thriller%',num_seconds_played_no_ads, NULL))                                                        	AS thriller_genre_seconds_played,
	SUM(IF(lower(genre) like '%tv%',num_seconds_played_no_ads, NULL))                                                              	AS tv_genre_seconds_played,
	SUM(IF(lower(genre) like '%wwe%',num_seconds_played_no_ads, NULL))                                                             	AS wwe_genre_seconds_played,
	SUM(IF(lower(genre) like '%usa track & field%', num_seconds_played_no_ads, NULL)) 											    AS usa_track_field_genre_seconds_played,
	SUM(IF(lower(genre) like '%sneak peek%', num_seconds_played_no_ads, NULL)) 														AS sneak_peek_genre_seconds_played,
	SUM(IF(lower(genre) like '%ski jumping%', num_seconds_played_no_ads, NULL)) 													AS ski_jumping_genre_seconds_played,
	SUM(IF(lower(genre) like '%world rugby sevens%', num_seconds_played_no_ads, NULL)) 												AS world_rugby_seven_genre_seconds_played,
	SUM(IF(lower(genre) like '%winter sports%', num_seconds_played_no_ads, NULL)) 													AS winter_sports_genre_seconds_played,
	SUM(IF(lower(genre) like '%imsa%', num_seconds_played_no_ads, NULL)) 															AS imsa_genre_seconds_played,
	SUM(IF(lower(genre) like '%romance%', num_seconds_played_no_ads, NULL)) 														AS romance_genre_seconds_played,
	SUM(IF(lower(genre) like '%tvg%', num_seconds_played_no_ads, NULL)) 															AS tvg_genre_seconds_played,
	SUM(IF(lower(genre) like '%bobsledding%', num_seconds_played_no_ads, NULL)) 													AS bobsledding_genre_seconds_played,
	SUM(IF(lower(genre) like '%lifestyle%', num_seconds_played_no_ads, NULL)) 														AS lifestyle_genre_seconds_played,
	SUM(IF(lower(genre) like '%indy 500%', num_seconds_played_no_ads, NULL)) 														AS indy_500_genre_seconds_played,
	SUM(IF(lower(genre) like '%para alpine skiing%', num_seconds_played_no_ads, NULL)) 												AS para_alpine_skiing_genre_seconds_played,
	SUM(IF(lower(genre) like '%sports%', num_seconds_played_no_ads, NULL)) 															AS sports_genre_seconds_played,
	SUM(IF(lower(genre) like '%football%', num_seconds_played_no_ads, NULL)) 														AS football_genre_seconds_played,
	SUM(IF(lower(genre) like '%mlb%', num_seconds_played_no_ads, NULL)) 															AS mlb_genre_seconds_played,
	SUM(IF(lower(genre) like '%gymnastics%', num_seconds_played_no_ads, NULL)) 														AS gymnastics_genre_seconds_played,
	SUM(IF(lower(genre) like '%horse racing%', num_seconds_played_no_ads, NULL)) 													AS horse_racing_genre_seconds_played,
	SUM(IF(lower(genre) like '%movies%', num_seconds_played_no_ads, NULL)) 															AS movies_genre_seconds_played,
	SUM(IF(lower(genre) like '%international%', num_seconds_played_no_ads, NULL)) 													AS international_genre_seconds_played,
	SUM(IF(lower(genre) like '%game show%', num_seconds_played_no_ads, NULL)) 														AS game_show_genre_seconds_played,
	SUM(IF(lower(genre) like '%the soccer tournament%', num_seconds_played_no_ads, NULL)) 											AS the_soccer_tournament_genre_seconds_played,
	SUM(IF(lower(genre) like '%mystery%', num_seconds_played_no_ads, NULL)) 														AS mystery_genre_seconds_played,
	SUM(IF(lower(genre) like '%holiday%', num_seconds_played_no_ads, NULL)) 														AS holiday_genre_seconds_played,
	SUM(IF(lower(genre) like '%rugby world cup%', num_seconds_played_no_ads, NULL)) 												AS rugby_world_cup_genre_seconds_played,
	SUM(IF(lower(genre) like '%wrestling%', num_seconds_played_no_ads, NULL)) 														AS wrestling_genre_seconds_played,
	SUM(IF(lower(genre) like '%premier league%', num_seconds_played_no_ads, NULL)) 													AS premier_league_genre_seconds_played,
	SUM(IF(lower(genre) like '%ice skating%', num_seconds_played_no_ads, NULL)) 													AS ice_skating_genre_seconds_played,
	SUM(IF(lower(genre) like '%track & field%', num_seconds_played_no_ads, NULL)) 													AS track_field_genre_seconds_played,
	SUM(IF(lower(genre) like '%speed skating%', num_seconds_played_no_ads, NULL)) 													AS speed_skating_genre_seconds_played,
	SUM(IF(lower(genre) like '%military & war%', num_seconds_played_no_ads, NULL)) 													AS military_war_genre_seconds_played,
	SUM(IF(lower(genre) like '%musical%', num_seconds_played_no_ads, NULL)) 														AS musical_genre_seconds_played,
	SUM(IF(lower(genre) like '%unknown%', num_seconds_played_no_ads, NULL)) 														AS unknown_genre_seconds_played,
	SUM(IF(lower(genre) like '%short track%', num_seconds_played_no_ads, NULL)) 													AS short_track_genre_seconds_played,
	SUM(IF(lower(genre) like '%comedy-drama%', num_seconds_played_no_ads, NULL)) 													AS comedy_drama_genre_seconds_played,
	SUM(IF(lower(genre) like '%nfl%', num_seconds_played_no_ads, NULL)) 															AS nfl_genre_seconds_played,
	SUM(IF(lower(genre) like '%tennis%', num_seconds_played_no_ads, NULL)) 															AS tennis_genre_seconds_played,
	SUM(IF(lower(genre) like '%ecw%', num_seconds_played_no_ads, NULL)) 															AS ecw_genre_seconds_played,
	SUM(IF(lower(genre) like '%205 live%', num_seconds_played_no_ads, NULL)) 														AS live_205_genre_seconds_played,
	SUM(IF(lower(genre) like '%latest episode%', num_seconds_played_no_ads, NULL))	 												AS latest_episode_genre_seconds_played,
	SUM(IF(lower(genre) like '%cross-country skiing%', num_seconds_played_no_ads, NULL)) 											AS cross_country_skiing_genre_seconds_played,
	SUM(IF(lower(genre) like '%motor sports%', num_seconds_played_no_ads, NULL)) 													AS motor_sports_genre_seconds_played,
	SUM(IF(lower(genre) like '%raw%', num_seconds_played_no_ads, NULL)) 															AS raw_genre_seconds_played,
	SUM(IF(lower(genre) like '%nxt uk%', num_seconds_played_no_ads, NULL)) 															AS nxt_uk_genre_seconds_played,
	SUM(IF(lower(genre) like '%curling%', num_seconds_played_no_ads, NULL)) 														AS curling_genre_seconds_played,
	SUM(IF(lower(genre) like '%diamond league%', num_seconds_played_no_ads, NULL)) 													AS diamond_league_genre_seconds_played,
	SUM(IF(lower(genre) like '%ncaa%', num_seconds_played_no_ads, NULL)) 															AS ncaa_genre_seconds_played,
	SUM(IF(lower(genre) like '%auto racing%', num_seconds_played_no_ads, NULL)) 													AS auto_racing_genre_seconds_played,
	SUM(IF(lower(genre) like '%adventure%', num_seconds_played_no_ads, NULL)) 														AS adventure_genre_seconds_played,
	SUM(IF(lower(genre) like '%wcw%', num_seconds_played_no_ads, NULL)) 															AS wcw_genre_seconds_played,
	SUM(IF(lower(genre) like '%competition%', num_seconds_played_no_ads, NULL)) 													AS competition_genre_seconds_played,
	SUM(IF(lower(genre) like '%martial arts%', num_seconds_played_no_ads, NULL)) 													AS martial_arts_genre_seconds_played,
	SUM(IF(lower(genre) like '%indy nxt%', num_seconds_played_no_ads, NULL)) 														AS indy_nxt_genre_seconds_played,
	SUM(IF(lower(genre) like '%sled hockey%', num_seconds_played_no_ads, NULL)) 													AS sled_hockey_genre_seconds_played,
	SUM(IF(lower(genre) like '%indy lights%', num_seconds_played_no_ads, NULL)) 													AS indy_lights_genre_seconds_played,
	SUM(IF(lower(genre) like '%talk%', num_seconds_played_no_ads, NULL)) 															AS talk_genre_seconds_played,
	SUM(IF(lower(genre) like '%figure skating%', num_seconds_played_no_ads, NULL)) 													AS figure_skating_genre_seconds_played,
	SUM(IF(lower(genre) like '%pro wrestling%', num_seconds_played_no_ads, NULL)) 													AS pro_wrestling_genre_seconds_played,
	SUM(IF(lower(genre) like '%skeleton%', num_seconds_played_no_ads, NULL)) 														AS skeleton_genre_seconds_played,
	SUM(IF(lower(genre) like '%nature%', num_seconds_played_no_ads, NULL)) 															AS nature_genre_seconds_played,
	SUM(IF(lower(genre) like '%hockey%', num_seconds_played_no_ads, NULL))														    AS hockey_genre_seconds_played,
	SUM(IF(lower(genre) like '%golf%', num_seconds_played_no_ads, NULL)) 															AS golf_genre_seconds_played,
	SUM(IF(lower(genre) like '%music%', num_seconds_played_no_ads, NULL)) 															AS music_genre_seconds_played,
	SUM(IF(lower(genre) like '%supercross%', num_seconds_played_no_ads, NULL)) 														AS supercross_genre_seconds_played,
	SUM(IF(lower(genre) like '%travel%', num_seconds_played_no_ads, NULL)) 															AS travel_genre_seconds_played,
	SUM(IF(lower(genre) like '%luge%', num_seconds_played_no_ads, NULL)) 															AS luge_genre_seconds_played,
	SUM(IF(lower(genre) like '%weightlifting%', num_seconds_played_no_ads, NULL)) 													AS weightlifting_genre_seconds_played,
	SUM(IF(lower(genre) like '%biathlon%', num_seconds_played_no_ads, NULL)) 														AS biathlon_genre_seconds_played,
	SUM(IF(lower(genre) like '%pro motocross%', num_seconds_played_no_ads, NULL)) 													AS pro_motocross_genre_seconds_played,
	SUM(IF(lower(genre) like '%college hockey%', num_seconds_played_no_ads, NULL)) 													AS college_hockey_genre_seconds_played,
	SUM(IF(lower(genre) like '%tv14%', num_seconds_played_no_ads, NULL)) 															AS tv14_genre_seconds_played,
	SUM(IF(lower(genre) like '%variety%', num_seconds_played_no_ads, NULL)) 														AS variety_genre_seconds_played,
	SUM(IF(lower(genre) like '%anime%', num_seconds_played_no_ads, NULL)) 															AS anime_genre_seconds_played,
	SUM(IF(lower(genre) like '%cycling%', num_seconds_played_no_ads, NULL)) 														AS cycling_genre_seconds_played,
	SUM(IF(lower(genre) like '%food%', num_seconds_played_no_ads, NULL)) 															AS food_genre_seconds_played,
	SUM(IF(lower(genre) like '%baseball%', num_seconds_played_no_ads, NULL)) 														AS baseball_genre_seconds_played,
	SUM(IF(lower(genre) like '%entertainment%', num_seconds_played_no_ads, NULL)) 													AS entertainment_genre_seconds_played,
	SUM(IF(lower(genre) like '%six nations%', num_seconds_played_no_ads, NULL)) 													AS six_nations_genre_seconds_played,
	SUM(IF(lower(genre) like '%health & fitness%', num_seconds_played_no_ads, NULL)) 												AS health_fitness_genre_seconds_played,
	SUM(IF(lower(genre) like '%swimming%', num_seconds_played_no_ads, NULL)) 														AS swimming_genre_seconds_played,
	SUM(IF(lower(genre) like '%game show & contest%', num_seconds_played_no_ads, NULL)) 											AS game_show_contest_genre_seconds_played,
	SUM(IF(lower(genre) like '%nxt%', num_seconds_played_no_ads, NULL)) 															AS nxt_genre_seconds_played,
	SUM(IF(lower(genre) like '%business & finance%', num_seconds_played_no_ads, NULL)) 												AS business_finance_genre_seconds_played,
	SUM(IF(lower(genre) like '%cartoon & animation%', num_seconds_played_no_ads, NULL)) 											AS cartoon_animation_genre_seconds_played,
	SUM(IF(lower(genre) like '%premiership rugby%', num_seconds_played_no_ads, NULL)) 												AS premiership_rugby_genre_seconds_played,
	SUM(IF(lower(genre) like '%fantasy%', num_seconds_played_no_ads, NULL)) 														AS fantasy_genre_seconds_played,
	SUM(IF(lower(genre) like '%animation%', num_seconds_played_no_ads, NULL)) 														AS animation_genre_seconds_played,
	SUM(IF(lower(genre) like '%science & technology%', num_seconds_played_no_ads, NULL)) 											AS science_technology_genre_seconds_played,
	SUM(IF(lower(genre) like '%action%', num_seconds_played_no_ads, NULL)) 															AS action_genre_seconds_played,
	SUM(IF(lower(genre) like '%ceremony%', num_seconds_played_no_ads, NULL)) 														AS ceremony_genre_seconds_played,
	SUM(IF(lower(genre) like '%snowboarding%', num_seconds_played_no_ads, NULL)) 													AS snowboarding_genre_seconds_played,
	SUM(IF(lower(genre) like '%history & biography%', num_seconds_played_no_ads, NULL)) 											AS history_biography_genre_seconds_played,
	SUM(IF(lower(genre) like '%basketball%', num_seconds_played_no_ads, NULL)) 														AS basketball_genre_seconds_played,
	SUM(IF(lower(genre) like '%stand-up comedy%', num_seconds_played_no_ads, NULL)) 												AS stand_up_comedy_genre_seconds_played,
	SUM(IF(lower(genre) like '%soccer%', num_seconds_played_no_ads, NULL)) 															AS soccer_genre_seconds_played,
	SUM(IF(lower(genre) like '%nitro rallycross%', num_seconds_played_no_ads, NULL)) 												AS nitro_rallycross_genre_seconds_played,
	SUM(IF(lower(genre) like '%weathertech series%', num_seconds_played_no_ads, NULL)) 												AS weathertech_series_genre_seconds_played,
	SUM(IF(lower(genre) like '%boxing%', num_seconds_played_no_ads, NULL)) 															AS boxing_genre_seconds_played,
	SUM(IF(lower(genre) like '%para biathlon%', num_seconds_played_no_ads, NULL)) 													AS para_biathlon_genre_seconds_played,
	SUM(IF(lower(genre) like '%today%', num_seconds_played_no_ads, NULL)) 															AS today_genre_seconds_played,
	SUM(IF(lower(genre) like '%wheelchair curling%', num_seconds_played_no_ads, NULL)) 												AS wheelchair_curling_genre_seconds_played,
	SUM(IF(lower(genre) like '%olympics%', num_seconds_played_no_ads, NULL)) 														AS olympics_genre_seconds_played,
	SUM(IF(lower(genre) like '%freestyle skiing%', num_seconds_played_no_ads, NULL)) 												AS freestyle_skiing_genre_seconds_played,
	SUM(IF(lower(genre) like '%pga%', num_seconds_played_no_ads, NULL)) 															AS pga_genre_seconds_played,
	SUM(IF(lower(genre) like '%world athletics%', num_seconds_played_no_ads, NULL)) 												AS world_athletics_genre_seconds_played,
	SUM(IF(lower(genre) like '%western%', num_seconds_played_no_ads, NULL)) 														AS western_genre_seconds_played,
	SUM(IF(lower(genre) like '%ice hockey%', num_seconds_played_no_ads, NULL)) 														AS ice_hockey_genre_seconds_played,
	SUM(IF(lower(genre) like '%religion%', num_seconds_played_no_ads, NULL)) 														AS religion_genre_seconds_played,
	SUM(IF(lower(genre) like '%para snowboarding%', num_seconds_played_no_ads, NULL)) 												AS para_snowboarding_genre_seconds_played,
	SUM(IF(lower(genre) like '%rugby%', num_seconds_played_no_ads, NULL)) 															AS rugby_genre_seconds_played,
	SUM(IF(lower(genre) like '%ntt indycar series%', num_seconds_played_no_ads, NULL)) 												AS ntt_indycar_series_genre_seconds_played,
	SUM(IF(lower(genre) like '%smackdown%', num_seconds_played_no_ads, NULL)) 														AS smackdown_genre_seconds_played,
	SUM(IF(lower(genre) like '%extreme sports%', num_seconds_played_no_ads, NULL)) 													AS extreme_sports_genre_seconds_played,
	SUM(IF(lower(genre) like '%sci-fi%', num_seconds_played_no_ads, NULL)) 															AS sci_fi_genre_seconds_played,
	SUM(IF(lower(genre) like '%animals%', num_seconds_played_no_ads, NULL)) 														AS animals_genre_seconds_played,
	SUM(IF(lower(genre) like '%nordic combined%', num_seconds_played_no_ads, NULL)) 												AS nordic_combined_genre_seconds_played,
	SUM(IF(lower(genre) like '%nascar%', num_seconds_played_no_ads, NULL)) 															AS nascar_genre_seconds_played,
	SUM(IF(lower(genre) like '%tvpg%', num_seconds_played_no_ads, NULL)) 															AS tvpg_genre_seconds_played,
	SUM(IF(lower(genre) like '%alpine skiing%', num_seconds_played_no_ads, NULL)) 													AS alpine_skiing_genre_seconds_played,
	SUM(IF(lower(genre) like '%para cc skiing%', num_seconds_played_no_ads, NULL)) 													AS para_cc_skiing_genre_seconds_played,
	SUM(IF(lower(genre) like '%college football%', num_seconds_played_no_ads, NULL)) 												AS college_football_genre_seconds_played,
	SUM(IF(lower(genre) like '%indycar%', num_seconds_played_no_ads, NULL)) 														AS indycar_genre_seconds_played,
	SUM(IF(lower(genre) like '%usfl%', num_seconds_played_no_ads, NULL)) 															AS usfl_genre_seconds_played,
	SUM(IF(lower(genre) like '%paralympic%', num_seconds_played_no_ads, NULL)) 														AS paralympic_genre_seconds_played,
	SUM(num_views_completed)                                                                                                       	AS num_views_completed,
	SUM(num_views_reached_25)                                                                                                      	AS num_views_reached_perc_25_perc,
	SUM(num_views_reached_50)                                                                                                      	AS num_views_reached_perc_50_perc,
	SUM(num_views_reached_75)                                                                                                      	AS num_views_reached_perc_75_perc,
	SUM(num_views_started)                                                                                                         	AS num_views_started
FROM
	`{{ data_env }}.PeacockDataMartSilver.SILVER_VIDEO`
WHERE
	adobe_date = '{{ run_day }}'
	and adobe_tracking_id IS NOT NULL
GROUP BY
	adobe_date,
	adobe_tracking_id
