SELECT
	est_day_id                                                                                                                     	                                                                                                                                                                                                        AS day,
	tracking_id                                                                                                              	                                                                                                                                                                                                            AS tracking_id,
	sum(duration_partial_series_obs_period)                                                                                                                                                                                                                                                                                          AS duration_partial_series_obs_period,
	-- trigger features,
	sum(count_search_used_obs_period)                                                                                                                                                                                                                                                                                                          AS count_search_used_obs_period,
	sum(count_empty_search_obs_period)                                                                                                                                                                                                                                                                                                         AS count_empty_search_obs_period,
	sum(count_pdp_page_obs_period)                                                                                                                                                                                                                                                                                                             AS count_pdp_page_obs_period,
	sum(count_get_premium_click)                                                                                                                                                                                                                                                                                                               AS count_get_premium_click,
	-- session features,
	sum(count_sessions_obs_period)                                                                                                                                                                                                                                                                                                             AS count_sessions_obs_period,
	sum(count_empty_sessions_obs_period_qualified)                                                                       																																																								   AS count_empty_sessions_obs_period_qualified,
	-- magnitude features,
	sum(video_duration_obs_period)/60                                                                                                                                                                                                                                                                                                   AS usage_hrs_obs_period,
	sum(ad_duration_obs_period)/60                                                                                                                                                                                                                                                                                                      AS ad_duration_obs_period,
	sum(session_duration_obs_period)                                                                                                                                                                                                                                                                                                 AS session_duration_mins_obs_period,
	-- frequency features,
	sum(device_duration_Amazon_Fire_TV)                                                                                                                                                                                                                                                                                              AS device_duration_Amazon_Fire_TV,
	sum(device_duration_Android_Mobile)                                                                                                                                                                                                                                                                                              AS device_duration_Android_Mobile,
	sum(device_duration_Android_TV)                                                                                                                                                                                                                                                                                                  AS device_duration_Android_TV,
	sum(device_duration_Apple_TV)                                                                                                                                                                                                                                                                                                    AS device_duration_Apple_TV,
	sum(device_duration_Cox)                                                                                                                                                                                                                                                                                                         AS device_duration_Cox,
	sum(device_duration_Ios_Mobile)                                                                                                                                                                                                                                                                                                  AS device_duration_Ios_Mobile,
	sum(device_duration_LG_Smart_TV)                                                                                                                                                                                                                                                                                                 AS device_duration_LG_Smart_TV,
	sum(device_duration_PS4)                                                                                                                                                                                                                                                                                                         AS device_duration_PS4,
	sum(device_duration_Roku)                                                                                                                                                                                                                                                                                                        AS device_duration_Roku,
	sum(device_duration_Vizio)                                                                                                                                                                                                                                                                                                       AS device_duration_Vizio,
	sum(device_duration_Www)                                                                                                                                                                                                                                                                                                         AS device_duration_Www,
	sum(device_duration_Xbox_One)                                                                                                                                                                                                                                                                                                    AS device_duration_Xbox_One,
	sum(device_duration_Xfinity)                                                                                                                                                                                                                                                                                                     AS device_duration_Xfinity,
	sum(daypart_duration_MORNING)                                                                                                                                                                                                                                                                                                    AS daypart_duration_MORNING,
	sum(daypart_duration_DAYTIME)                                                                                                                                                                                                                                                                                                    AS daypart_duration_DAYTIME,
	sum(daypart_duration_EVENING)                                                                                                                                                                                                                                                                                                    AS daypart_duration_EVENING,
	sum(daypart_duration_LATE_NIGHT)                                                                                                                                                                                                                                                                                                 AS daypart_duration_LATE_NIGHT,
	sum(daypart_duration_OVERNIGHT)                                                                                                                                                                                                                                                                                                  AS daypart_duration_OVERNIGHT,
	sum(daypart_duration_PRIMETIME)                                                                                                                                                                                                                                                                                                  AS daypart_duration_PRIMETIME,
	sum(daypart_duration_WEEKEND)                                                                                                                                                                                                                                                                                                    AS daypart_duration_WEEKEND,
	sum(genre_duration_action_obs_period)                                                                                                                                                                                                                                                                                            AS genre_duration_action_obs_period,
	sum(genre_duration_comedy_obs_period)                                                                                                                                                                                                                                                                                            AS genre_duration_comedy_obs_period,
	sum(genre_duration_crime_obs_period)                                                                                                                                                                                                                                                                                             AS genre_duration_crime_obs_period,
	sum(genre_duration_documentary_obs_period)                                                                                                                                                                                                                                                                                       AS genre_duration_documentary_obs_period,
	sum(genre_duration_drama_obs_period)                                                                                                                                                                                                                                                                                             AS genre_duration_drama_obs_period,
	sum(genre_duration_entertainment_obs_period)                                                                                                                                                                                                                                                                                     AS genre_duration_entertainment_obs_period,
	sum(genre_duration_gameshow_obs_period)                                                                                                                                                                                                                                                                                          AS genre_duration_gameshow_obs_period,
	sum(genre_duration_horror_obs_period)                                                                                                                                                                                                                                                                                            AS genre_duration_horror_obs_period,
	sum(genre_duration_kids_obs_period)                                                                                                                                                                                                                                                                                              AS genre_duration_kids_obs_period,
	sum(genre_duration_lifestyle_obs_period)                                                                                                                                                                                                                                                                                         AS genre_duration_lifestyle_obs_period,
	sum(genre_duration_music_obs_period)                                                                                                                                                                                                                                                                                             AS genre_duration_music_obs_period,
	sum(genre_duration_news_obs_period)                                                                                                                                                                                                                                                                                              AS genre_duration_news_obs_period,
	sum(genre_duration_reality_obs_period)                                                                                                                                                                                                                                                                                           AS genre_duration_reality_obs_period,
	sum(genre_duration_scifi_obs_period)                                                                                                                                                                                                                                                                                             AS genre_duration_scifi_obs_period,
	sum(genre_duration_sports_obs_period)                                                                                                                                                                                                                                                                                            AS genre_duration_sports_obs_period,
	sum(genre_duration_talk_obs_period)                                                                                                                                                                                                                                                                                              AS genre_duration_talk_obs_period,
	sum(genre_duration_thriller_obs_period)                                                                                                                                                                                                                                                                                          AS genre_duration_thriller_obs_period,
	sum(genre_duration_western_obs_period)                                                                                                                                                                                                                                                                                           AS genre_duration_western_obs_period,
	sum(coalesce(duration_platform_TV_obs_period,0)+coalesce(duration_platform_VOD_obs_period,0))                                                                                                                                                                                                                                    AS duration_platform_TV_VOD_obs_period,
	sum(duration_platform_Shortform_obs_period)                                                                                                                                                                                                                                                                                      AS duration_platform_Shortform_obs_period,
	sum(duration_platform_Movie_obs_period)                                                                                                                                                                                                                                                                                          AS duration_platform_Movie_obs_period,
	sum(duration_popular_SH_titles_obs_period)                                                                                                                                                                                                                                                                                       AS duration_popular_SH_titles_obs_period,
	sum(duration_popular_H_titles_obs_period)                                                                                                                                                                                                                                                                                        AS duration_popular_H_titles_obs_period,
	sum(duration_popular_M_titles_obs_period)                                                                                                                                                                                                                                                                                        AS duration_popular_M_titles_obs_period,
	sum(duration_popular_L_titles_obs_period)                                                                                                                                                                                                                                                                                        AS duration_popular_L_titles_obs_period,
	sum(count_cancel_help_visit_obs_period)                                                                                                                                                                                                                                                                                                    AS count_cancel_help_visit_obs_period,
	sum(count_cancel_page_visit_obs_period)                                                                                                                                                                                                                                                                                                    AS count_cancel_page_visit_obs_period,
	sum(avg_time_to_content * cnt_for_avg_session_duration_obs_period)																																																							AS total_time_to_content,
	sum(avg_session_duration_obs_period*cnt_for_avg_session_duration_obs_period)																																																					AS total_session_duration_mins_obs_period,
	sum(cnt_for_avg_session_duration_obs_period)																																																												AS cnt_for_avg_session_duration_obs_period,
	sum(case when session_duration_obs_period is null then 0 else 1 end)																																																																		AS count_active_days_obs_period,
	sum(case when session_duration_obs_period_qualified is null then 0 else 1 end)																																																																AS count_active_days_obs_period_qualified
FROM
	`{{ data_env }}.dasc_model.user_visit_level_features`
WHERE
	est_day_id = '{{ run_day }}'
	and tracking_id IS NOT NULL
GROUP BY
	est_day_id,
	tracking_id
